<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>St. Anthony Cemetery</title>
</head>
<body class="bg-gray-100">
    {% block  content %}

    <!-- HEADER -->
    <header class="w-full bg-sky-800 shadow-lg
            border-b-8 border-t-8 border-t-white border-b-blue-950">
        <div class="max-w-7xl mx-auto 
            px-4 sm:px-6 lg:px-12 xl:px-20 2xl:px-32
            py-4 flex flex-col lg:flex-row items-center justify-between">

            <!-- Logo + Text -->
            <div class="flex items-center text-gray-200">
                <img src="{% static 'img/logo.avif' %}" alt="Logo" class="h-20 w-auto mr-4">
                <ul class="font-bold leading-tight">
                    <li>OUR LADY</li>
                    <li class="italic">of</li>
                    <li>PEACE PARISH</li>
                </ul>
            </div>

            <!-- Navigation -->
            <nav class="mt-4 lg:mt-0">
                <ul class="flex gap-6 text-gray-200 font-semibold text-lg">
                    <li><a class="hover:text-blue-950" 
                           href="{% url 'index' %}">Home</a></li>
                    <li><a class="hover:text-blue-950" href="{% url 'plot' %}">Plot</a></li>
                    <li><a class="hover:text-blue-950" 
                           href="https://www.ourladyofpeacefredericton.ca/about-us">About us</a></li>
                    <li><a class="hover:text-blue-950" 
                           href="https://www.ourladyofpeacefredericton.ca/contact-us-1">Contact us</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- MAIN CONTENT -->
    <main class="flex max-w-4xl mx-auto px-4 sm:px-6 lg:px-12 pt-2 text-left justify-center">
        <div class="flex flex-col p-2 gap-2">
            <p class="font-bold">Plot Details</p>
            <p>Section:</p>
            <p>Row:</p>
            <p>Unit:</p>
            <p>Side:</p>
            <p>Niche:</p>
        </div>
        
    </main>
{% endblock %}
</body>
</html>